<!DOCTYPE html>
<html>

<head>
    <title>Weather</title>
    <link rel='icon' href='/img/weather1.png'>
    <link rel='stylesheet' href='/css/style.css'>

</head>
    <body>
        <div class="main-content">
             {{>header}}
             <p>this site is used for checking weather</p>
             
             <form>
                 <input placeholder="location"> 
                 <button>Search</button>
             </form>

             <p id="message-1"></p>
             <p id="message-2"></p>
        </div>
        
       
        {{>footer}}
            <script src="/js/app.js"></script>
    </body> 

</html>